<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Users Manager</title>
</head>
<body>
<div align="center">
    <h2>Users Manager</h2>
    <form method="post" action="search">
        <input type="text" name="keyword" />
        <input type="submit" value="Search" />
    </form>
    <h2><a href="/new_user">New User</a></h2>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Edit user</th>
            <th>Links</th>
            <th>Add link</th>
        </tr>
        <tr th:each="msg : ${messages}">
            <td th:utext="${msg.getId()}">...</td>
            <td th:utext="${msg.getLogin()}">...</td>
            <td th:utext="${msg.getPassword()}">...</td>
            <td th:utext="${msg.getName()}">...</td>
            <td th:utext="${msg.getEmail()}">...</td>
            <td><a th:href="@{/edit_user/{id}(id=${msg.getId()})}">Edit user</a></td>
            <td><a th:href="@{/links/{id}(id=${msg.getId()})}">links</a></td>
            <td><a href="/new_link.html">add link</a></td>
        </tr>
    </table>
</div>
</body>
</html>