<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Links</title>
</head>
<body>
<div align="center">
    <h2>Links</h2>

    <h2><a href="/new_link">New Link</a></h2>
<!--
    <tr>
        <form method="POST" action="/link">
            <label for="link">new link</label>
            <input name="link" tupe="text" id="link">
            <input type="submit" value="Add Link">
        </form>
    </tr>
-->

        <table border="1" cellpadding="5">
            <tr>
                <th>Links</th>
            </tr>
            <tr th:each="lnk : ${links}">
                <td th:utext="${lnk.getLink()}">...</td>
            </tr>
        </table>

    </div>
    </body>
    </html>